{% extends 'homePage/base.html' %}
{% block title %}Register{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="content-section text-left" style="padding-left: 8%; padding-right: 8%;">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center">Join Today</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group text-left">
            <button class="btn btn-secondary" style="background-color: #3c1361;" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Already have an account? <a href="{% url 'login' %}" class="ml-2">Login here</a></small>
    </div>
</div>
{% endblock content %}