{% extends "homePage/base.html" %}
{% block title %} Delete Save {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <h2>Delete Save: {{save.team}}</h2>
    <hr>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-danger" type="submit">Yes</button> <a href ="{% url 'save-page' save.pk %}" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>
{% endblock %}