{% extends "homePage/base.html" %}
{% block title %} FM | {{ user.username }} {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <h1>{{user.username}}'s saves</h1>
    <div>
        <a href="{% url 'create-save' %}" class="btn btn-secondary" style="background-color: #3c1361;">Create New Save</a>
    </div>
    <hr>
</div>
<div class="content-section">
    {% for save in saves %}
    <div class="post-preview">
        <h3 class="post-title">
            <a href= "{% url 'save-page' save.pk %}" class="h3">{{save.team}}</a>
        </h3>

        <p class="post-meta">{{save.seasons}} seasons completed. Save started on {{save.date}}</p>
    </div>
    <hr>
    {% endfor %}

</div>
{% endblock %}