{% extends "homePage/base.html" %}
{% block title %} Upload Data {{pk}} {% endblock %}
{% load crispy_forms_tags %}


{% block content %}
<div class="content-section">
    <h2>Create Save</h2>
    <hr>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-secondary" style="background-color: #3c1361;" type="submit">Save</button> <a href ="{% url 'view-saves' %}" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>

{% endblock %}