{% extends "homePage/base.html" %}
{% block title %} FM | {{ player.name }} {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

{{playerseasons|json_script:'playerseasons'}}

<div class="content-section">
    <h1><strong>{{ player.name }}</strong></h1><h4>{{player.game_save.team}}</h4><a href="{% url 'save-page' player.game_save.pk %}" class="btn btn-secondary" style="background-color: #3c1361;">Back</a><hr>
   <strong>Seasons played:</strong>  {{player.seasons}} ({{playingyears}})
</br>
    <strong>Nat: </strong>{{player.nationality}}</br><strong>Homegrown: </strong>{% if player.home_grown_status%}Yes {% else %}No {% endif %}
</div>


<script type="text/javascript" src="{% static 'js/view_player.js' %}"></script>


{% endblock %}
