{% extends "homePage/base.html" %}
{% block title %} FM | {{ player.name }} {% endblock %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load static %}
{% block content %}

{{playerseasons|json_script:'playerseasons'}}
{{seasons|json_script:'seasons'}}
{{playerdata_json|json_script:'playerdata_json'}}
{{percentile_data|json_script:'percentile_data'}}


<div class="content-section">
    <div>
        <h1><strong>{{ player.name }}</strong></h1><h4>{{player.game_save.team}}</h4><a href="{% url 'save-page' player.game_save.pk %}" class="btn btn-secondary" style="background-color: #3c1361;">Back</a><hr>
    </div>
    <div>
        <div class="container" style="width:100%; display: table;">
            <table style="width: 100%; table-layout: auto;" class="table table-borderless">
                <tr class="noBorder">
                    <th scope="row">Nationality:</th>
                    <td>{{player.nationality}}</td>
                    <th scope="row">Seasons:</th>
                    <td>{{player.seasons}} ({{playingyears}})</td>
                    <th>Goals:</th>
                    <td>{{player.goals}}</td>
                    <th>Max Value:</th>
                    <td>
                        {% if player.max_value > 1000000 %}
                        {{player.max_value|div:1000000|floatformat:"1"}} M
                        {% else %}
                        {{player.max_value|div:1000|floatformat:"1"}} K
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Homegrown:</th>
                    <td>
                        {% if player.home_grown_status %}
                            Yes
                        {% else %}
                            No
                        {% endif %}</td>
                    <th>Appearances:</th>
                    <td>{{player.appearances}}</td>
                    <th>Assists:</th>
                    <td>{{player.assists}}</td>
                    <th>Reds:</th>
                    <td>{{player.reds}}</td>
                </tr>
                <tr>
                    <th>Best Role:</th>
                    <td>{{player.best_role}}</td>
                    <th>Minutes/Season</th>
                    <td>{{player.minutes_per_season|floatformat:"0"}}</td>
                    <th>Average Rating:</th>
                    <td>{{player.average_rating|floatformat:"2"}}</td>
                    <th>Yellows:</th>
                    <td>{{player.yellows}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div id="radarChart" class="container">
    </div>
</div>
<div class="content-section">
    <h2>Seasons</h2><hr>  
    <div id="player-table"></div>
</div>
<div class="content-section">
    <h2>Charts</h2><hr>
    <div id='ratingChart'><!-- Plotly chart will be drawn inside this DIV --></div>
    <div id='valueWageChart' ><!-- Plotly chart will be drawn inside this DIV --></div> 
    <h4>Compare two stats</h4><br>
    <div class="form-group container">
        <form>
            <div style="width:85%">
                <div style="width:40%; float:left;">
                    <select name="stat-dropdown1" id="stat-dropdown1" class="form-control">
                    </select>
                </div>
                <div style="width:40%; float:left;">
                    <select name="stat-dropdown2" id="stat-dropdown2" class="form-control">
                    </select>
                </div>
                <div style="float:right">
                    <button onclick="generateChart()" class="btn btn-secondary" style="background-color: #3c1361;" type="button">Go</button>
                </div>
            </div>
        </form>
    </div>
</br></br>
    <div id='customChart'><!-- Plotly chart will be drawn inside this DIV --></div>

    
</div>

<script type="text/javascript" src="{% static 'js/view_player.js' %}"></script>


{% endblock %}
